# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore License and Makefile
!/Makefile
!/LICENSE

#All files with extensions are unignored, with the exception of hidden files and object files
*.o
.*

!/.gitignore
