[submodule "reharmoniser/tests/Write-WAV-File"]
	path = reharmoniser/tests/Write-WAV-File
	url = git@github.com:Loumstar/Write-WAV-File.git
[submodule "C-UnitTest"]
	path = C-UnitTest
	url = git@github.com:Loumstar/C-UnitTest.git
