# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore hidden, wav, object and arduino hex files
*.o
*.elf
*.hex
*.wav

.*

# Unignore git hidden files, license, makefile and a_note.wav
!.gitignore
!.gitmodules

!Makefile
!LICENSE

!reharmoniser/tests/a_note.wav